<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
  <title>A Simple JavaServer Faces 2.0 View</title>
</h:head>
<h:body>
	<h:form>
		<p>Vadovas: Zita Lietuvaite</p>
		<p:commandButton value="Back" action="#{darbuotojaiView.backMygtukas}" update="@form"></p:commandButton>
	</h:form>
</h:body>
</html>