<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ps="http://java.sun.com/jsf/passthrough">
<h:head>
  <title>A Simple JavaServer Faces 2.0 View</title>
</h:head>
<h:body>
	<h:form>
		<c:forEach var="i" begin="1" end="100" step="2">
			<c:choose>
				<c:when test="#{i lt 50}"> 
					<h:outputText value="#{i}"/><br/>
				</c:when>
				<c:when test="#{i gt 50}">
					<p:inputText id="id" ps:placeholder="#{i}">></p:inputText><br/>
				</c:when>
				<c:when test="#{i eq 50}">
					<b><h:outputText value="VIDURYS!" style="color: red" /></b><br/>
				</c:when>
			</c:choose>
		</c:forEach>
	</h:form>
	<h:form>
	    <h:panelGrid columns="3" cellpadding="5">
	        <h:outputText value="KeyUp: " />
	        <p:inputText id="firstname" value="#{tests.firstname}">
	            <p:ajax event="keyup" update="out1" />
	        </p:inputText>
	        <h:outputText id="out1" value="#{tests.firstname}" />
	 
	        <h:outputText value="Blur: " />
	        <p:inputText id="surname" value="#{tests.lastname}">
	            <p:ajax event="blur" update="out2" />
	        </p:inputText>
	        <h:outputText id="out2" value="#{tests.lastname}" />
	    </h:panelGrid>
	</h:form>
</h:body>
</html>
